<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h2 align="center">Add new song</h2>
<div class="container">
    <div class="row">
        <form th:action="@{/create}" th:object="${music}" method="post">
            <div>
                <label>ID</label>
                <input class="form-control" type="text" th:field="*{id}"/>
            </div>
            <div>
                <label>Name</label>
                <input class="form-control" type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Singer</label>
                <input class="form-control" type="text" th:field="*{singer}"/>
            </div>
            <div>
                <label>Kind Of Music</label>
                <input class="form-control" type="text" th:field="*{kindOfMusic}"/>
            </div>
            <div>
                <label>Link</label>
                <input class="form-control" type="text" th:field="*{link}"/>
            </div>
            <div>
                <a th:href="@{/index}">
                    <input type="button" class="btn btn-outline-success" value="Back"/>
                </a>
                <input type="submit" class="btn btn-outline-success" value="Save"/>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
