<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid me-0">
    <div class="row my-2 me-0 pe-0">
        <a class="btn btn-info my-2" th:href="@{/shop}" role="button">Shop Hoa</a>

        <table class="table">
            <thead class="bg-info">
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col" style="text-align: center">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${productObj.name}"></td>
                <td>
                    <img th:src="@{${productObj.image}}" style="width: 240px;height: 240px">
                </td>
                <td th:text="${productObj.price}"></td>
                <td th:text="${productObj.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
