<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<!--header-->
<div class="container-fluid px-0">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand" style="margin-left: 30%;color: red">Hoa</a>
            <div class="d-flex">
                <a class="btn btn-warning" th:href="@{/cart/view_cart}" role="button">Giỏ hàng</a>
            </div>
        </div>
    </nav>

    <div class="row px-3">
        <p th:if="${message}" th:text="${message}" style="color: red"></p>
        <!--        <div class="col-md-9">-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Product name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="productObj, loopStatus: ${productList}">
                <td th:text="${loopStatus.count}"></td>
                <td th:text="${productObj.name}"></td>
                <td>
                    <a th:href="@{/shop/detail/{id}(id=${productObj.id})}">
                        <img th:src="@{${productObj.image}}" style="width: 240px;height: 240px"/>

                        <!--                            <img th:src="@{../static/hoa1.jpg}" style="width: 240px;height: 240px"/>-->
                    </a>
                </td>
                <td th:text="${productObj.price}"></td>
                <td th:text="${productObj.description}"></td>
                <td>
                    <!--                        <a class="btn btn-primary" th:href="@{/detail/{id}(id=${productObj.id})}"-->
                    <!--                           role="button">Detail</a>-->
                    <a class="btn btn-primary" th:href="@{/shop/add_cart/{id}(id=${productObj.id})}" role="button">Add to
                        cart</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--</div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
