<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/style.css}">
</head>
<body>
<div class="row" style="justify-content: center">
    <form th:object="${employee}" th:action="@{/employee/save}" method="POST" class="needs-validation p-4"
          style="background-color: whitesmoke; border-radius: 1rem; width: 70%" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom2">Employee Name</label>
                <input type="text" th:field="*{employeeName}" class="form-control" id="validationCustom2"
                       placeholder="Tran Van A" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom3">Date Of Birth</label>
                <input type="date" th:field="*{employeeBirthday}" class="form-control" id="validationCustom3"
                       placeholder="" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom4">Employee ID Card</label>
                <input type="text" th:field="*{employeeIdCard}" class="form-control" id="validationCustom4"
                       placeholder="1945XXXXX" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom5">Employee Salary</label>
                <input type="text" th:field="*{employeeSalary}" class="form-control" id="validationCustom5"
                       placeholder="XXXX" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom6">Employee Phone</label>
                <input type="text" th:field="*{employeePhone}" class="form-control" id="validationCustom6"
                       placeholder="(090-091-84) XXXXXXX" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom7">Employee Email</label>
                <input type="text" th:field="*{employeeEmail}" class="form-control" id="validationCustom7"
                       placeholder="abc@gmail.com" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom8">Employee Address</label>
                <input type="text" th:field="*{employeeAddress}" class="form-control" id="validationCustom8"
                       placeholder="Address" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom9">Position</label>
                <select th:field="*{position}" class="form-control" id="validationCustom9">
                    <option th:each="row: ${positionList}" th:value="${row.positionId}" th:text="${row.positionName}">
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom10">Division</label>
                <select th:field="*{division}" class="form-control" id="validationCustom10">
                    <option th:each="row: ${divisionList}" th:value="${row.divisionId}" th:text="${row.divisionName}">
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom11">Education Degree</label>
                <select th:field="*{educationDegree}" class="form-control" id="validationCustom11">
                    <option th:each="row: ${educationDegreeList}" th:value="${row.educationDegreeId}" th:text="${row.educationDegreeName}">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <button class="btn text-white" type="submit" style="background-color: black">Create</button>
    </form>
</div>
<script th:src="@{/bootstrap/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/bootstrap/bootstrap413/js/bootstrap.bundle.min.js}"></script>
</body>
</html>