<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div id="form">
    <form th:action="@{/song/save}" th:object="${song}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <div>
            <label>Singer</label>
            <input type="text" th:field="*{singer}">
        </div>
        <p style="color: red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></p>
        <div>
            <label>Kind Of Music</label>
            <input type="text" th:field="*{kindOfMusic}">
        </div>
        <p style="color: red" th:if="${#fields.hasErrors('kindOfMusic')}" th:errors="*{kindOfMusic}"></p>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
