<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Furama Resort</title>
    <link rel="stylesheet" th:href="@{/bootstrap_502/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row mt-4">
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
                    <div sec:authorize="isAuthenticated()">
                        <span sec:authentication="principal.username"> | </span>
                        <a href="/logout">Đăng xuất</a>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a href="/login"><button class="btn btn-outline-success" type="button">Đăng nhập</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 mt-4">
            <div class="container-fluid">
                <div class="row">
                    <h2 align="center">Thêm mới hợp đồng</h2>
                    <form th:action="@{/contract/create}" method="post" th:object="${contractDto}">
                        <table class="table" cellpadding="5">

                            <tr>
                                <th>Ngày bắt đầu:</th>
                                <td><input class="form-control" type="date" th:field="*{startDate}"></td>
                                <td><span class="text-danger" th:if="${#fields.hasErrors('startDate')}"
                                          th:errors="*{startDate}"></span></td>
                            </tr>
                            <tr>
                                <th>Ngày kết thúc:</th>
                                <td><input class="form-control" type="date" th:field="*{endDate}"></td>
                                <td><span class="text-danger" th:if="${#fields.hasErrors('endDate')}"
                                          th:errors="*{endDate}"></span></td>
                            </tr>
                            <tr>
                                <th>Tiền đặt cọc:</th>
                                <td><input class="form-control" type="text" th:field="*{deposit}"></td>
                                <td><span class="text-danger" th:if="${#fields.hasErrors('deposit')}"
                                          th:errors="*{deposit}"></span></td>
                            </tr>

                            <tr>
                                <th>Dịch vụ:</th>
                                <td>
                                    <select class="form-select" th:field="*{facility}">
                                        <option value="">--Chọn dịch vụ--</option>
                                        <option th:each="item : ${facilityList}" th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </td>
                                <td><span class="text-danger" th:if="${#fields.hasErrors('facility')}"
                                          th:errors="*{facility}"></span></td>
                            </tr>

                            <tr>
                                <th>Khách hàng:</th>
                                <td>
                                    <select class="form-select" th:field="*{customer}">
                                        <option value="">--Chọn khách hàng--</option>
                                        <option th:each="item : ${customerList}" th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </td>
                                <td><span class="text-danger" th:if="${#fields.hasErrors('customer')}"
                                          th:errors="*{customer}"></span></td>
                            </tr>

                            <tr>
                                <th>Nhân viên:</th>
                                <td>
                                    <select class="form-select" th:field="*{employee}">
                                        <option value="">--Chọn nhân viên--</option>
                                        <option th:each="item : ${employeeList}" th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </td>
                                <td><span class="text-danger" th:if="${#fields.hasErrors('employee')}"
                                          th:errors="*{employee}"></span></td>
                            </tr>
                            <tr>
                                <th>Dịch vụ đi kèm:</th>
                                <td>
                                    <!-- Button trigger modal -->
                                    <input type="button" value="+" class="btn btn-primary" th:data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </input>

                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    <a href="/contract">
                                        <button type="button" class="btn btn-outline-primary">
                                            Quay lại
                                        </button>
                                    </a>
                                </td>
                                <td align="left">
                                    <button type="submit" class="btn btn-outline-primary">
                                        Tạo mới
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>

                </div>
            </div>

        </div>


    </div>
</div>
<hr>

<!-- Modal -->
<div class="modal fade" th:id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                aaaaaaaaaaaaaaaaa
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script th:src=@{"/bootstrap_502/js/bootstrap.min.js"}></script>
</body>
</html>
