<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/style.css}">
</head>
<body>
<div class="row" style="justify-content: center">
    <form th:object="${facility}" th:action="@{/facility/update}" method="POST" class="needs-validation p-4"
          style="background-color: whitesmoke; border-radius: 1rem; width: 70%" novalidate>
        <input type="hidden" th:field = "*{facilityId}">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom2">Facility Name</label>
                <input type="text" th:field="*{facilityName}" class="form-control" id="validationCustom2"
                       placeholder="House" value="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom3">Facility Area</label>
                <input type="text" th:field="*{facilityArea}" class="form-control" id="validationCustom3"
                       placeholder="50" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom4">Facility Cost</label>
                <input type="text" th:field="*{facilityCost}" class="form-control" id="validationCustom4"
                       placeholder="50" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom5">Facility Max People</label>
                <input type="text" th:field="*{facilityMaxPeople}" class="form-control" id="validationCustom5"
                       placeholder="2" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom6">Facility Standard Room</label>
                <input type="text" th:field="*{facilityStandardRoom}" class="form-control" id="validationCustom6"
                       placeholder="Normal">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom7">Other Convenience</label>
                <input type="text" th:field="*{descriptionOtherConvenience}" class="form-control" id="validationCustom7"
                       placeholder="Free breakfast">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom8">Facility Pool Area</label>
                <input type="text" th:field="*{facilityPoolArea}" class="form-control" id="validationCustom8"
                       placeholder="30">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom9">Number Of Floors</label>
                <input type="text" th:field="*{facilityNumberOfFloors}" class="form-control" id="validationCustom9"
                       placeholder="3">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom10">Rent Type</label>
                <select th:field="*{rentType}" class="form-control" id="validationCustom10">
                    <option th:each="row: ${rentTypeList}" th:value="${row.rentTypeId}" th:text="${row.rentTypeName}">
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom11">Facility Type</label>
                <select th:field="*{facilityType}" class="form-control" id="validationCustom11">
                    <option th:each="row: ${facilityTypeList}" th:value="${row.facilityTypeId}" th:text="${row.facilityTypeName}">
                </select>
            </div>
        </div>
        <div class="w-100">
            <button type="submit" class="btn btn-success w-50" style="alignment: center">Lưu</button>
        </div>
        <div th:if="${msg}">
            <span th:text="${msg}"></span>
        </div>
    </form>

</div>
<script src="/resources/bootstrap/jquery/jquery-3.5.1.min.js"></script>
<script src="/resources/bootstrap/datatables/js/jquery.dataTables.min.js"></script>
<script src="/resources/bootstrap/bootstrap413/js/bootstrap.min.js"></script>
</body>
</html>