<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/style.css}">
</head>
<body id="page-top">
<div class="container" style="margin-top: 5rem">
    <p>
        <a th:href="@{/facility/create}">
            Add new facility
        </a>
    </p>
    <div class="notify">
        <div th:if="${msg}">
            <span th:text="${msg}"></span>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover" id="facilityTable">
            <thead class="text-white table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Area</th>
                <th scope="col">Cost</th>
                <th scope="col">Max people</th>
                <th scope="col">Room standard</th>
                <th scope="col">Other convenience</th>
                <th scope="col">Pool area</th>
                <th scope="col">Floors</th>
                <th scope="col">Rent type</th>
                <th scope="col">Facility type</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${facilityList}">
                <td scope="row" th:text="${rowStat.count}"></td>
                <td th:text="${row.facilityName}"></td>
                <td th:text="${row.facilityArea}"></td>
                <td th:text="${row.facilityArea}"></td>
                <td th:text="${row.facilityCost}"></td>
                <td th:text="${row.facilityMaxPeople}"></td>
                <td th:text="${row.descriptionOtherConvenience}"></td>
                <td th:text="${row.facilityPoolArea}"></td>
                <td th:text="${row.facilityNumberOfFloors}"></td>
                <td th:text="${row.rentType.rentTypeName}"></td>
                <td th:text="${row.facilityType.facilityTypeName}"></td>
                <td><a th:href="@{/facility/{id}/edit(id=${row.getFacilityId()})}">Edit</a></td>
                <td>
                    <button id="del" th:attr="onclick=|showInfo('${row.facilityId}','${row.facilityName}')|"
                            data-toggle="modal" data-target="#modal1" type="button"
                            class="btn  btn-outline-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:if="${facilityList.hasPrevious()}"
                       th:href="@{/facility/(page = ${facilityList.number - 1})}">Previous</a>
                </li>
                <div th:each="pageNo: ${#numbers.sequence(0,facilityList.totalPages - 1)}">
                    <li class="page-item" th:if="${facilityList.number != pageNo}">
                        <a class="page-link" th:href="@{/facility/(page = ${pageNo})}" th:text="${pageNo + 1}"></a>
                    </li>
                    <li class="page-item active" th:if="${facilityList.number == pageNo}">
                        <a class="page-link" th:href="@{/facility/(page = ${pageNo})}" th:text="${pageNo + 1}"> </a>
                    </li>
                </div>
                <li class="page-item">
                    <a class="page-link" th:if="${facilityList.hasNext()}"
                       th:href="@{/facility/(page = ${facilityList.number + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="modal1" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="confirm"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" onclick="deleteById()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script>
    var idDelete;

    function showInfo(id, name) {
        document.getElementById("confirm").innerHTML = "Chắc chắn xóa dịch vụ <br>" + name;
        idDelete = id;
    }

    function deleteById() {
        window.location.href = "/facility/delete/" + idDelete
    }
</script>
</body>
</html>
