<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <a class="btn btn-info" th:href="@{/shop}" role="button">Home</a>
    <h3 class="my-2" style="color: #204fdc">Giỏ hàng của bạn</h3>
    <h4 th:if="${cartList.isEmpty()}" style="color: red">Bạn hiện chưa có sản phẩm nào trong giỏ hàng!</h4>

    <div class="row my-2">
        <!--            thông báo : nếu list trống-->
        <!--         ngược lại-->
        <div class="col-md-12" th:unless="${cartList.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Image</th>

                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col" style="text-align: center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry: ${cartList}">
                    <td>
                        <img th:src="@{${entry.key.image}}" style="width: 240px;height: 240px">

                    </td>
                    <td th:text="${entry.key.name}"></td>
                    <td th:text="${entry.key.price}"></td>
                    <!--                        update (tăng/giảm SL)-->
                    <td>
                        <a class="btn btn-primary" role="button" th:href="@{/cart/update/__${entry.key.id}__(action='add')}">+</a>
                        <button class="btn btn-primary" ><span th:text="${entry.value}"></span></button>
                        <a class="btn btn-primary" role="button" th:href="@{/cart/update/__${entry.key.id}__(action='sub')}">-</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cart/view/{id}(id=${entry.key.id})}"
                           role="button">Chi tiết</a>

                        <a class="btn btn-primary" th:href="@{/cart/delete/{id}(id=${entry.key.id})}"
                           role="button">Xóa</a>
                    </td>
                </tr>
                <tr style="color: red;font-weight: bold">
                    <td>Tổng Tiền:</td>
                    <td colspan="4" style="text-align: right" th:text="${sumPrice}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/cart/payment}">Thanh toán</a>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>
</html>
