<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <!--        quay lại giỏ hàng-->
    <a class="btn btn-info" th:href="@{/cart/view_cart}" role="button">Giỏ hàng</a>

    <div class="row my-2">
        <form action="/cart/delete" th:object="${productObj}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <table class="table">

                <tr>
                    <td rowspan="">
                        <img th:src="@{${productObj.image}}" style="width: 240px;height: 240px">
                    </td>

                    <td th:text="${productObj.name}"></td>
                    <td th:text="${productObj.price}"></td>
                </tr>

            </table>
            <button class="btn btn-danger" type="submit" role="button" style="margin-left: 50%">Xóa</button>

        </form>

    </div>
</div>
<!--        tong tien-->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
