<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/blogs}">
        Back to home
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blogs/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idBlog}"/>
        <div>
            <label>Name Blog</label>
            <input type="text" readonly th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Author</label>
            <input type="text" readonly th:field="*{author}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" readonly th:field="*{description}"/>
        </div>
        <div>
            <label>Date create</label>
            <input type="text" readonly th:field="*{dateCreate}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
