<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Edit Blog</h3>
<p>
    <a th:href="@{/blogs}">
        Back to home
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blogs/update}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idBlog}"/>
        <div>
            <label>Name Blog</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Author</label>
            <input type="email" th:field="*{author}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Date Create</label>
            <input type="text" th:field="*{dateCreate}"/>
        </div>
        <div>
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="category: ${listCategory}" th:value="${category.idCategory}"
                        th:text="${category.nameCategory}">

                </option>
            </select>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
