<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>List Blogs</h3>
<form th:action="@{/blogs/search}" th:object="${blog}" method="get" novalidate="novalidate">
    <input type="text" th:field="*{nameBlog}">
    <input type="submit" value="Search">
</form>
<p>
    <a th:href="@{/blogs/create}">
        Add new blog
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name BLog</th>
        <th>Author</th>
        <th>Description</th>
        <th>Date Create</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row, rowStat : ${blogList}">
        <td th:text="${row.getIdBlog()}"></td>
        <td th:text="${row.getNameBlog()}"></td>
        <td th:text="${row.getAuthor()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td th:text="${row.getDateCreate()}"></td>
        <td th:text="${row.category.nameCategory}"></td>
        <td><a th:href="@{/blogs/{id}/edit(id=${row.getIdBlog()})}">Edit</a></td>
        <td><a th:href="@{/blogs/{id}/delete(id=${row.getIdBlog()})}">Delete</a></td>
        <td><a th:href="@{/blogs/{id}/view(id=${row.getIdBlog()})}">View</a></td>
    </tr>
    </tbody>
</table>
<span>
    <a th:if="${blogList.hasPrevious()}" th:href="@{/blogs(page = ${blogList.number - 1})}">Previous</a>
</span>
<span th:each="pageNo: ${#numbers.sequence(0,blogList.totalPages - 1)}">
    <a th:href="@{/blogs(page = ${pageNo})}" th:text="${pageNo + 1}"></a>
</span>
<span>
    <a th:if="${blogList.hasNext()}" th:href="@{/blogs(page = ${blogList.number +1})}">Next</a>
</span>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
