<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/song}">
        Back to home
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/song/delete}" th:object="${song}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" readonly th:field="*{name}"/>
        </div>
        <div>
            <label>Singer</label>
            <input type="text" readonly th:field="*{singer}"/>
        </div>
        <div>
            <label>Kind Of Music</label>
            <input type="text" readonly th:field="*{kindOfMusic}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
