<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Edit Song</h3>
<p>
    <a th:href="@{/song}">
        Back to home
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/song/update}" th:object="${song}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Song</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <div>
            <label>Singer</label>
            <input type="email" th:field="*{singer}"/>
        </div>
        <p style="color: red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></p>
        <div>
            <label>Kind Of Music</label>
            <input type="text" th:field="*{kindOfMusic}"/>
        </div>
        <p style="color: red" th:if="${#fields.hasErrors('kindOfMusic')}" th:errors="*{kindOfMusic}"></p>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
